<%= form_for(@syrianote, html: {class: "form-horizontal"}) do |f| %>
	<% if @syrianote.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@syrianote.errors.count, "error") %> Prohibited this post from being saved:</h2>
			<ul>
			<% @syrianote.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	<div class="col-sm-6">
		<p>
			<%= f.label :category %><br>
				<%= f.select(:category, options_for_select([['Casualties', 'Casualties'], ['U.S and Western Assistance to Rebels', 'U.S and Western Assistance to Rebels'],
				['U.S Assistance to Pro-Rebel Propaganda', 'U.S Assistance to Pro-Rebel Propaganda'], ['Israeli Collaboration with Opposition', 'Israeli collaboration with Opposition'], ['Turkeys Role', 'Turkeys Role'], ['Origins of Armed Insurgency', 'Origins of Armed Insurgency'], ['Rebel Human Rights Abuses', 'Rebel Human Rights Abuses'], ['U.S Assistance to Al-Qaeda', 'U.S Assistance to Al-Qaeda']]), { class: "btn btn-default dropdown-toggle" }) %>
		</p>

		<p>
			<%= f.label :title %><br>
			<%= f.text_field :title, class: "form-control" %>
		</p>

		<p>
			<%= f.label :url %><br>
			<%= f.url_field :url, class: "form-control" %>
		</p>

		<p>
			<%= f.label :publisher %><br>
			<%= f.text_field :publisher, class: "form-control" %>
		</p>

		<p>
			<%= f.label :description %><br>
			<%= f.text_field :description, class: "form-control" %>
		</p>

		<p>
			<%= f.label :tags %><br>
			<%= f.text_field :tags, class: "form-control" %>
		</p>
			
		<p>
			<%= f.submit class: "btn btn-primary" %>
		</p>
	</div>
<% end %>
