<div class="container">
	<%= will_paginate @syrianote %>
	<% @syrianotes.each do |syrianote| %>
		<div id="note">
			<hr>
			<!--<strong id="titles">Category:</strong><br><%= syrianote.category %><br>-->
			<h3><%= syrianote.title %></h3>
			<strong id="titles"><a href="<%= syrianote.url %>">LINK TO ARTICLE</a></strong><br>
			<strong id="titles">Publisher:</strong><br><%= syrianote.publisher %><br>
			<strong id="titles">Description:</strong><br><%= markdown(truncate(syrianote.description, length: 500))%>
			<%= link_to "Continue Reading...", syrianote_path(syrianote) %><br>
			<!--<strong id="titles">Tags:</strong><br><%= syrianote.tags %><br><br>-->
			<%#= link_to 'View Note', syrianote_path(syrianote), class: "btn-sm btn-primary" %>
		</div>
	<% end %>
	<%= will_paginate @syrianote %>
</div>

