<div class="container">
	<%= will_paginate @syrianote %>
	<h4><em>Each Note is either a passage from an article or commentary about an article pertaining to Syria news coverage</em></h4>
	<% @syrianotes.each do |syrianote| %>
		<div id="note">
			<hr>
			<% if syrianote.commentary %>
				<h3><%= syrianote.title %> <span class="btn-sm btn-danger"><em>Commentary</em></span></h3>
				<% else %>
				<h3><%= syrianote.title %></h3>
			<% end %>
			<strong id="titles"><a href="<%= syrianote.url %>">LINK TO ARTICLE</a></strong> <br>
			<strong id="titles">Publisher: </strong><%= syrianote.publisher %><br>
			<strong id="titles">Description:</strong><%= markdown(truncate(syrianote.description, length: 500))%>
			<%= link_to "Continue Reading...", syrianote_path(syrianote) %><br>
		</div>
	<% end %>
	<%= will_paginate @syrianote %>
</div>

