<div class="container-fluid">
	<%= link_to "New Post", new_syrianote_path, class: 'btn btn-primary' %><br>
	<%= will_paginate @syrianote %>
</div>
	<% @syrianotes.each do |syrianote| %>
		<div class="jumbotron">
			<div class="container-fluid">
				<div id="note">
					<strong>Category:</strong><br><%= syrianote.category %><br>
					<strong>Title:</strong><br><%= syrianote.title %><br>
					<strong>URL:<br><a href="<%= syrianote.url %>">LINK TO ARTICLE</a></strong><br>
					<strong>Publisher:</strong><br><%= syrianote.publisher %><br>
					<strong>Description:</strong><br><%= syrianote.description %><br>
					<strong>Tags:</strong><br><%= syrianote.tags %><br><br>
					|<%= link_to 'View Note', syrianote_path(syrianote), class: "btn-sm btn-primary" %>|
				</div>		
			</div>
		</div>
	<% end %>
	<%= will_paginate @syrianote %>
</div>

