<div class="container-fluid">
	<%= link_to 'New Post', new_iraqnote_path, class: "btn btn-primary" %>
	<%= will_paginate @iraqnote %>
</div>
<br>
<div class="container">
	<% @iraqnotes.each do |iraqnote| %>
		<div class="jumbotron">
			<div class="container">
				<div id="note">
					<strong>Category:</strong><br><%= iraqnote.category %><br>
					<strong>Title:</strong><br><%= iraqnote.title %><br>
					<strong>URL:</strong><br><a href="<%= iraqnote.url %>">LINK TO ARTICLE</a><br>
					<strong>Publisher:<br></strong><%= iraqnote.publisher %><br>
					<strong>Description:<br></strong><%= iraqnote.description %><br>
					<strong>Tags:</strong><br><%= iraqnote.tags %><br>
					|<%= link_to 'View Note', iraqnote_path(iraqnote), class: 'btn-sm btn-primary' %>|
				</div>
			</div>
		</div>
	<% end %>
	<%= will_paginate @iraqnote %>
</div>
