<div class="container" id="container-main">
	<div class="container" id="container-jumbotron">
		<div class="jumbotron">
			<h2><%= @iraqnote.title.capitalize %></h2>
			<p><strong>Category:</strong><br>
			<%= @iraqnote.category %></p>

			<p><strong>URL:</strong><br>
			<a href="<%= @iraqnote.url %>"><%= @iraqnote.url %></a></p>
			
			<p><strong>Publisher:</strong><br>
			<%= @iraqnote.publisher %></p>
			
			<p><strong>Description:</strong><br>
			<%= @iraqnote.description %></p>
			<p><strong>Tags:</strong><br>
			<%= @iraqnote.tags %></p>

			|<%= link_to 'Back', iraqnotes_path, class: "btn-sm btn-info" %>|
			|<%= link_to 'Edit', edit_iraqnote_path(@iraqnote), class: "btn-sm btn-warning" %>|

		</div><!-- /jumbotron -->
	</div><!-- /container jumbotron -->
</div><!-- /container main -->